html {
    scroll-behavior: smooth;
}

.form {
    /* width: 100vh; */
    /* border: 3px solid black; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.progress-bar {
    margin-top: 1rem;
    background-color: grey;
    color: black;
    width: 40%;
    height: 4rem;
    display: flex;
    position: relative;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}


.progress-bar-text1 {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.progress-bar-text2 {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

}

.progress-bar-text3 {
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    z-index: 2;

}

.progress-bar-line {
    /* 
    width: 4rem;
    height: 100%;
    border-radius: 100%;
    font-size: 0.7rem;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 87%; */
    position: absolute;
    background-color: red;
    width: 30%;
    top: 25%;
    height: 50%;
    z-index: 1;
}

.text-muted {
    color: #F05448 !important;
}